.contact-modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
  
.contact-modal-container {
    width: 900px;
    height: 450px;
    border-radius: 5px;
    /* background: rgba(0,0,0,0.5);*/
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin: 0 auto;
}
  
.contact-modal-title {
    display: inline-block;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact-modal-title p {
      font-weight: 200;
      font-size: 50px;
}

.contact-modal-close {
    display: flex;
    justify-content: flex-end;
}
  
.contact-modal-close button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
    opacity: 85%;
    font-weight: 200;
    font-family: var(--font-family);
}

.contact-modal-full-name {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.contact-modal-first-name,
.contact-modal-last-name {
    flex: 2;
    width: 100%;
    min-height: 50px;
    background: #fff;
    outline: none;
    color: #fff;
    opacity: 75%;
    /* opacity: 85%; */
}

.contact-modal-first-name input,
.contact-modal-last-name input {
    flex: 2;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 20px;
    line-height: 28px;
    background: #fff;
    border: none;
    padding: 0 1rem;
    outline: none;
    color: #282828;
    border-radius: 5px;
}

.contact-modal-first-name {
    border-top-left-radius: 5px;
    border-right: 2px solid rgba(40, 40, 40, 0.2);
}

.contact-modal-last-name {
    border-top-right-radius: 5px;
}

.contact-modal-email input {
    flex: 2;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 20px;
    line-height: 28px;
    background: #fff;
    border: 2px solid #fff;
    padding: 0 1rem;
    outline: none;
    color: #282828;
    border-top: 2px solid rgba(40, 40, 40, 0.2);
    opacity: 75%;

    /* opacity: 85%; */
}

.contact-modal-body textarea {
    flex: 2;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 20px;
    line-height: 28px;
    background: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    color: #282828;
    height: 200px;
    border-top: 2px solid rgba(40, 40, 40, 0.2);
    opacity: 75%;

    /* opacity: 85%; */
    resize: none;
    margin-bottom: -2.75px;
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #fff inset;
    -webkit-text-fill-color: #282828;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px #fff inset;
    -webkit-text-fill-color: #282828;
}

.contact-modal-footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-modal-buttons {
    display: flex;
    flex-direction: row;
}

.contact-modal-buttons-cancel {
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 20px;
    line-height: 28px;
    background: #282828;
    border: 2px solid #282828;
    padding: 0 1rem;
    color: #fff;
    cursor: pointer;
    outline: none;
    opacity: 85%;

    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.contact-modal-buttons-send {
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 20px;
    line-height: 28px;
    background: #e62b1e;
    border: 2px solid #e62b1e;
    padding: 0 1rem;
    color: #fff;
    cursor: pointer;
    outline: none;
    opacity: 85%;

    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.contact-modal-buttons button:hover {
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    opacity: 100%;
}

.contact-modal-buttons-cancel:hover {
    color: #e62b1e;
}
  
.contact-modal-footer input {
    flex: 2;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: #282828;
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    outline: none;
    color: #fff;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    /* opacity: 85%; */
}